<div class="row">
  <div class="col-xxl-5">
    <nb-card>
      <nb-card-header>Search</nb-card-header>
      <nb-card-body>
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." #keyword>
            <span class="input-group-append">
              <button class="btn btn-danger input-group-text" type="submit" (click)="onSearch(keyword)">
                Search
              </button>
            </span>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

    <ng-container *ngIf="detail;">
      <nb-card>
        <nb-card-header>Details</nb-card-header>
        <nb-card-body>

        </nb-card-body>
      </nb-card>
    </ng-container>
  </div>

  <div class="col-xxxl-9 col-xxl-7 col-lg-7 col-md-6">
    <nb-card size="large">
      <nb-card-header>Result</nb-card-header>
      <nb-card-body>
        <ng-container *ngIf="foundJob;">
          <ul class="mb-5">
            <a *ngFor="let job of foundJob; let i=index" target="_blank" href="{{ job.web }}" style="text-decoration:none;">
              <li class="list-group-item">
                {{ job.name }}
              </li>
            </a>
          </ul>
        </ng-container>
        <ng-container *ngIf="foundJob?.length < 1;">
          <h5>ไม่พบตำแหน่งงานที่เกี่ยวข้อง</h5>
        </ng-container>
      </nb-card-body>
    </nb-card>
  </div>
</div>
